.hero{
    height: 120vh;
    width: 100%;
    position: relative;
    

    &__content{
        
        color: white;
        position: absolute;
        top: 6rem;
        text-align: center; 
    }

    &__img{
        width: 30rem;
        margin-top: 10rem;
        position: relative;

    }

    &__btn{
        background-color: $tertiary;
        margin-top: 5rem;
        // top: 15rem;
        left:20rem;
        position: absolute;
        a{
            color: white;
            font-size: 1rem;
            text-decoration: none;
        }
    }

    .shape-divider{
        width: 100%;
        position: absolute;
        bottom: -40px;
    }

}


#Capa_1{
    fill: $primary;
    padding-bottom: 1rem;
    height: 60px;
    width: 50px;
}

.card{
    width: 20rem;
}

.about{
    margin-top: 8rem;

  #Capa_1{
      background: white;
      margin-top: 4px;
      height: 60px;
      width: 60px;
      padding: 8px;
      border-radius: 13px;
  }
 img{
     height: 30rem;
    //  width: 30rem;
     margin-left: 50px;
 }
}

.organize{
    margin-top: 8rem;

    img{
        height: 30rem;
    }

    a{
        text-decoration: none;
    }
}

.carousel{
    margin-top: 8rem;

}

.showcase{
    margin-top: 10rem;
   min-height: 400px;

    &__overlay{
        background: rgba(0, 0,0,0.7);
        min-height: 400px;
    }
}

.plan{
    margin-top: 8rem;
    
    &__p{
        color: #3A24AC;
        font-size: 40px;
    }

    &__span{
        font-size: 20px;
    }

    &__btn{
        background-color: $primary;
        a{
            color: white;
            font-size: .8rem;
            text-decoration: none;
        }
    }
}

.review{
    margin-top: 8rem;
    
}

.form{
    margin-top: 8rem;

    &__card{
        // width: 50rem;
        // height: 100%;
        // margin-top: 5rem;

        .form-control{
            margin-top: 2rem;
            background: #F5F5F5;
        }
    }

    .messages{
        height: 10rem;
    }
}

.footer{
    margin-top: 8rem;
    background: black;

    .form-control{
        background: #F5F5F5;
    }

    .btn{
        background: $tertiary;
        color: white;
    }

    .social-1{
        background: #3B5998;
    }

    .social-2{
        background: #DB3A49;
    }

    .social-3{
       background:#57ADEE;
    }
    .social-4{
        background:#3A76A9;
     }
}

.copyright{
    background: black;
}